@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'poppins', sans-serif;
}

li, a {
  list-style: none;
  color: #000;
  text-decoration: none;

}

header {
  padding: 20px 0 0 0;
}

.navbar {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upper-nav {
  width: 90%;
  display: flex;
}

.upper-nav>div {
  width: 100%;
}

.middle-upper-div {
  background-color: rgb(255, 255, 255);
}

.middle-upper-div .middle-ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-upper-div .middle-ul li {
  list-style: none;
  margin: 20px 4px;
}

.middle-upper-div .middle-ul li .active {
  color: #000;
  transition: all ease 0.3s;
}

.middle-upper-div .middle-ul li .active:hover {
  color: #000;
  background-color: #fff;
}

.middle-upper-div .middle-ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.564);
  padding: 13px 20px;
  transition: all ease 0.3s;
  border-radius: 30px;
  font-size: 15px;

}

.middle-upper-div .middle-ul li a:hover {
  background-color: rgba(174, 169, 169, 0.139);
  color: #000;
}

.logo-div img {
  width: 150px;
}

.right-upper-div ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
}

.right-upper-div ul li {
  list-style: none;
}

.right-upper-div ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 13px 20px;
  transition: all ease 0.3s;
  border-radius: 30px;
  font-size: 15px;
}

.right-upper-div ul li a:hover {
  background-color: rgba(174, 169, 169, 0.139);
  color: #000;
}

.user-button {
  background-color: inherit;
  border: 1px solid rgb(212, 210, 210);
  cursor: pointer;
  font-size: 1.6rem;
  padding: 0px 10px;
  border-radius: 30px;
  margin-left: 6px;
  transition: 0.3s;
}

.user-button:hover {
  -webkit-box-shadow: -2px 9px 20px 2px rgba(209,202,209,1);
  -moz-box-shadow: -2px 9px 20px 2px rgba(209,202,209,1);
  box-shadow: -2px 9px 20px 2px rgba(209,202,209,1);
}

.lower-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

}

.lower-nav-content{
  height: 6.7vh;
  background-color: #fff;
  width: 55%;
  border-radius: 35px;
  border: 1px solid rgba(174, 169, 169, 0.342);
  -webkit-box-shadow: 1px 5px 8px 1px rgba(235,230,235,1);
  -moz-box-shadow: 1px 5px 8px 1px rgba(235,230,235,1);
  box-shadow: 1px 5px 8px 1px rgba(235,230,235,1);
}

.lower-nav-content form {
  display: flex;
}

.lower-nav-content form>div {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  transition: all ease;
  cursor: pointer;
  margin: 2px ;
  height: 7vh;
  margin: 0 5px 5px 0;
}

.lower-nav-content form>div:hover{
  background-color: rgba(174, 169, 169, 0.139);
  border-radius: 30px;
}

.lower-nav-content form .f-div {
  font-size: 12px;
  padding: 5px 25px;
  width: 300px;
  height: 6.5vh;
  margin: 0 10px 0 0px;
  border-radius: 35px;
  background-color: #fff;
}

.lower-nav-content form .f-div label {
  padding: 10px 0 0 0;
}


.lower-nav-content form .f-div input {
  padding:5px 0;
  border: none;
  outline: none;
  background-color: #fff;
}

.lower-nav-content form .f-div input:hover {
  background-color:rgba(174, 169, 169, 0.040) ;
}

.lower-nav-content form .s-div{
  height: 6.4vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lower-nav-content form .s-div-content{
  height: 3.5vh;
  padding: 0 30px;
  border-left: 1px solid rgba(174, 169, 169, 0.342);
}

.lower-nav-content form .s-div-content:hover {
  margin-left: 1px;
  border: none;
}

.lower-nav-content form h3 {
  font-size: 15px;
  font-weight: 400;
}

.lower-nav-content form p {
  font-size: 13px;
  color: #919296;
  font-weight: 400;
}

.lower-nav-content form .t-div{
  height: 6.4vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lower-nav-content form .t-div-content{
  height: 3.5vh;
  padding: 0 30px;
  border-left: 1px solid rgba(174, 169, 169, 0.342);
}

.lower-nav-content form .t-div-content:hover {
  margin-left: 1px;
  border: none;
}

.lower-nav-content form .fourth-div{
  height: 6.4vh;
  background-color: rgb(255, 255, 255);
  width: 309px;
  margin-left: 15px;
  border-radius: 30px;
  margin-right: 0;
  
}

.lower-nav-content form .fourth-div-content{
  height: 5vh;
  margin-top:7px;
  padding: 0 15px;
  border-left: 1px solid rgba(174, 169, 169, 0.342);
  display: flex;
  justify-content: space-between;
}

.lower-nav-content form .fourth-div-content:hover {
  margin-left: 1px;
  border: none;
}

.f-div-right{
  border: 1px solid #FF5A5F;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #fff;
  background-color: #FF5A5F;
}

.options-btn {
  width: 300px;
  justify-content: space-evenly;
  display: flex;
  background-color: #fff;
  padding: 9px;
  font-size: 13px;
  margin-top: 2px;
  cursor: pointer;
  margin-left: 10px;
  border: 1px solid rgba(174, 169, 169, 0.342);
  border-radius: 7px;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.2em;
  height: 1.7em;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #B0B0B0;
  border: 1px solid #B0B0B0;
  transition: .4s;
  border-radius: 32px;
  outline: none;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 50%;
  outline: 2px solid #B0B0B0;
  left: -1px;
  bottom: -1px;
  background-color: #fff;
  transition: transform .25s ease-in-out 0s;
}

.slider-icon {
  opacity: 0;
  height: 10px;
  width: 12px;
  stroke-width: 8;
  position: absolute;
  z-index: 999;
  stroke: #222222;
  right: 60%;
  top: 30%;
  transition: right ease-in-out .3s, opacity ease-in-out .15s;
}

input:checked + .slider {
  background-color: #222222;
}

input:checked + .slider .slider-icon {
  opacity: 1;
  right: 20%;
}

input:checked + .slider:before {
  transform: translateX(1.5em);
  outline-color: #181818;
}

.carouselItemContent span{
  font-size: 10px;
  padding: 5px 0 0  0;
}

.activeCarouselItemContent{
  background-color: #fff;
  transition: 0.3s;
  color: #000;
  border-bottom: 2px solid black;
}

.design{
  width: 30px;
  border-bottom: 2px solid rgb(255, 255, 255);
  color: gray;
}

.design span{
  font-size: 12px;
  padding: 8px 0 0  0;
}

.design:hover{
  border-bottom: 2px solid rgba(174, 169, 169, 0.342);
  color: #000;
}

.pool,.park {
  color: gray;
  transition: 0.3s;
  border-bottom: 2px solid rgb(255, 255, 255);
}

.pool:hover{
  color: #000;
  border-bottom: 2px solid rgba(174, 169, 169, 0.342);
}

#carouselItemContent {
  color: gray;
  transition: 0.3s;
  border-bottom: 2px solid rgb(255, 255, 255);
}

#carouselItemContent:hover{
  color: #000;
  border-bottom: 2px solid rgba(174, 169, 169, 0.342);
}
